html {
  height: 100%;
}
body {
  background: #f2f1f0;
  color: #333;
  margin: 0;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}
a {
  color: #33f;
}
#tabs {
  position: absolute;
  top: 2px;
  left: 0;
  white-space: nowrap;
  overflow-Y: hidden;
  overflow-X: hidden;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  height: 1.4rem;
  width: 100%;
  z-index: 1;
/*margin:-1.5em 0 0 0;*/
}
#tabs:hover {
  overflow-X: auto;
}
#tabs:before {
  content: "";
  position: absolute;
  top: calc(1.4em + 1px);
  display: block;
  border-bottom: solid #767676 1px;
  height: 0;
  width: 100%;
  z-index: 1;
}
#tabs div {
  display: inline-block;
  border: solid #767676 1px;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  padding: 0 1.75em 0 0.25em;
  position: relative;
  margin: 0 1px 0 0;
  cursor: pointer;
  background: #f5f4f3;
  opacity: 0.6;
  height: 1.4rem;
}
#tabs div.active {
  opacity: 1;
  background: #f2f1f0;
  font-style: italic;
  z-index: 10;
}
#tabs div .close {
  position: absolute;
  opacity: 1;
  font-style: normal;
  top: 50%;
  margin-top: -0.5em;
  right: 0.25em;
  background: #e66;
  width: 1em;
  height: 1em;
  line-height: 0.9em;
  text-align: center;
  border-radius: 3px;
  visibility: hidden;
}
#tabs div:hover .close {
  display: block;
  visibility: visible;
}
#tabs div.dirty:after {
  content: "*";
  position: absolute;
}
#panes {
  box-sizing: border-box;
  height: calc(100% - 1.4rem - 2px);
/*padding-bottom:.5em;*/
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: calc(1.4rem + 2px);
}
#panes #editors,
#panes #preview {
  box-sizing: border-box;
  height: 100%;
  background: #fff;
  color: #333;
  width: 50%;
/*margin-right:.5%;*/
  box-shadow: none;
}
#panes.fullscreen >* {
  display: none;
}
#panes.fullscreen #editors,
#panes.fullscreen #preview {
  display: none;
}
#panes.fullscreen #editors.fullscreen,
#panes.fullscreen #preview.fullscreen {
  display: block;
  width: 100%;
}
#panes.fullscreen #preview.fullscreen {
  width: 100%;
}
#editors {
  display: inline-block;
  position: relative;
}
#editors > div {
  display: none;
}
#editors > div.active {
  display: block;
}
#editors > div,
#editors .CodeMirror {
  height: 100%;
/*border-radius: sectionRadius;*/
}
#editors.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#preview {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: auto;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  padding: 1em;
}
#preview.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#preview article {
  padding-bottom: 1%;
  min-height: 97%;
}
#preview article :first-child {
  margin-top: 0.25em !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #dcd9d6;
/*border-radius: scrollSize * .5;*/
}
::-webkit-scrollbar-thumb {
  background-color: #9a9189;
/*border-radius: scrollSize * .5;*/
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
