/* modified version of https://bitbucket.org/kevinburke/markdowncss */
#preview article{
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1;
    padding:0 1rem;
    color: #ddd;
}
#preview h1, #preview h2, #preview h3, #preview h4 {
    color: #fff;
    font-weight: 400;
}
#preview h1, #preview h2, #preview h3, #preview h4, #preview h5, #preview p {
    margin-bottom: 1.5rem;
    padding: 0;
}
#preview h1 {
    font-size: 3rem;
}
#preview h2 {
    font-size: 2.25rem;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 1.5rem 0 .375rem;
}
#preview h3 {
    font-size: 1.5rem;
}
#preview h4 {
    font-size: 1.3125rem;
}
#preview h5 {
    font-size: 1.125rem;
}
#preview a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#preview a:hover {
    text-decoration: none;
    color: #ff6600;
}
#preview a:visited {
    color: purple;
}
#preview ul, #preview ol {
    padding: 0 0 0 30px;
    margin: 0;
}
#preview li {
    line-height: 1.5rem;
}
#preview li ul, #preview li ul {
    margin-left: 24px;
}
#preview p, #preview ul, #preview ol {
    font-size: 1rem;
    line-height: 1.5rem;
}
#preview pre {
    padding: 0 1.5rem;
    white-space: pre-wrap;
}
#preview code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    line-height: 1.5em;
    font-size: .8125rem;
}
#preview aside {
    display: block;
    float: right;
    width: 390px;
}
#preview blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}
#preview blockquote  cite {
    font-size:.875rem;
    line-height:1.25rem;
    color:#bfbfbf;
}
#preview blockquote cite:before {
    content: '\2014 \00A0';
}

#preview blockquote p {
    color: #666;
    max-width: 460px;
}
#preview hr {
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

/* Code below this line is copyright Twitter Inc. */

#preview button,
#preview input,
#preview select,
#preview textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
#preview button, #preview input {
  line-height: normal;
  *overflow: visible;
}
#preview button,
#preview input[type="button"],
#preview input[type="reset"],
#preview input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
#preview input[type=checkbox], #preview input[type=radio] {
  cursor: pointer;
}
/* override default chrome & firefox settings */
#preview input:not([type="image"]), #preview textarea {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

#preview input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#preview input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#preview label,
#preview input,
#preview select,
#preview textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8125rem;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}
#preview input[type=checkbox], input[type=radio] {
  cursor: pointer;
  margin-bottom: 0;
}
#preview input[type=text],
#preview input[type=password],
#preview textarea,
#preview select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: .8125rem;
  font-weight: normal;
  line-height: 1.125rem;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#preview select, #preview input[type=file] {
  height: 1.6875rem;
  line-height: 1.6875rem;
}
#preview textarea {
  height: auto;
}

/* grey out placeholders */
#preview ::-webkit-input-placeholder {
  color: #bfbfbf;
}

#preview input[type=text],
#preview input[type=password],
#preview select,
#preview textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
#preview input[type=text]:focus, #preview input[type=password]:focus, #preview textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* buttons */
#preview button {
  display: inline-block;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:.8125rem;
  line-height: 1.125rem;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#preview button:hover {
  color: #fff;
  background-position: 0 -15px;
  text-decoration: none;
}
#preview button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
